* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  outline: none;
}

body {
  background-color: #f1f1f1;
}

body .todo-list {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .todo-list .content-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  font-size: .9em;
  min-width: 600px;
  max-width: 800px;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

body .todo-list .content-table .wide-col {
  width: 55%;
}

body .todo-list .content-table thead tr {
  background-color: #484430;
  color: white;
  text-align: left;
}

body .todo-list .content-table tbody tr {
  background-color: white;
  border-bottom: 1px solid #dddddd;
}

body .todo-list .content-table tbody tr .delete-btn {
  display: none;
  border: none;
  background-color: white;
  color: #b00b1e;
  margin-left: 10%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body .todo-list .content-table tbody tr:hover {
  background-color: #dddddd;
}

body .todo-list .content-table tbody tr:hover .delete-btn {
  display: inline-block;
  background-color: #dddddd;
  cursor: pointer;
}

body .todo-list .content-table tfoot {
  background-color: white;
  text-align: right;
}

body .todo-list .content-table tfoot select {
  border: none;
  padding-right: 10px;
}

body .todo-list .content-table tfoot .fa {
  padding: 2px 7px;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  background-color: white;
}

body .todo-list .content-table th, body .todo-list .content-table td {
  padding: 16px 20px;
  font-weight: normal;
}

body .todo-list .add-task-btn {
  border: none;
  color: white;
  background-color: #484430;
  padding: 15px 40px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

body .todo-list .add-task-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

body .bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

body .bg-modal .modal-content {
  width: 450px;
  height: 250px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}

body .bg-modal .modal-content h2 {
  margin-bottom: 5%;
  color: #484430;
}

body .bg-modal .modal-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .bg-modal .modal-content form input {
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 2px solid #484430;
}

body .bg-modal .modal-content button {
  border: none;
  color: white;
  background-color: #484430;
  padding: 15px 40px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

body .bg-modal .modal-content button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

body .bg-modal .modal-content .close-modal {
  font-size: 2rem;
  color: #484430;
  position: absolute;
  top: 5px;
  right: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .bg-modal .modal-content .close-modal:hover {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */