*
{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    outline: none;
}

$primary-color: #484430;
$secondary-color: #f1f1f1;
$light-grey: #dddddd;
$grey: #c4c4c4;
$red: #b00b1e;

@mixin abs_center 
{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin style_button($color, $background-color)
{
    border: none;
    color: $color;
    background-color: $background-color;
    padding: 15px 40px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: ease .2s;

    &:hover
    {
        transform: scale(1.2);
        cursor: pointer;
    }
}

body
{
    background-color: $secondary-color;

    .todo-list
    {
        @include abs_center;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .content-table
        {
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
            margin: 25px 0;
            font-size: .9em;
            min-width: 600px;
            max-width: 800px;
            border: 1px solid $light-grey;
            box-shadow: 0 0 2px rgba(0, 0, 0, .2);

            .wide-col
            {
                width: 55%;
            }
            thead
            {
                tr
                {
                    background-color: $primary-color;
                    color: white;
                    text-align: left;
                }
            }
            tbody
            {

                tr
                {
                    background-color: white;
                    border-bottom: 1px solid $light-grey;

                    .delete-btn
                    {
                        display: none;
                        border: none;
                        background-color: white;
                        color: $red;
                        margin-left: 10%;
                        transform: scale(1.5);
                    }
                    &:hover
                    {
                        background-color: $light-grey;
                        .delete-btn
                        {
                            display: inline-block;
                            background-color: $light-grey;
                            cursor: pointer;
                        }
                    }
                }

            }
            tfoot
            {
                background-color: white;
                text-align: right;

                select
                {
                    border: none;
                    padding-right: 10px;
                }

                button
                {
                    padding: 2px 7px;
                    font-weight: bold;
                    font-size: 1.2rem;
                    border: none;
                    background-color: white;
                }
            }
            th, td
            {
                padding: 16px 20px;
                font-weight: normal;
            }
        }
        .add-task-btn
        {
            @include style_button(white, $primary-color)
        }
    }

    .bg-modal
    {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        .modal-content
        {
            width: 450px;
            height: 250px;
            background-color: white;
            border-radius: 4px;
            text-align: center;
            padding: 20px;
            position: relative;
            
            h2
            {
                margin-bottom: 5%;
                color: $primary-color;
            }

            form
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input
                {
                    margin-bottom: 20px;
                    padding: 5px 10px;
                    border: 2px solid $primary-color;
                }
            }

            button
            {
                @include style_button(white, $primary-color)
            }

            .close-modal
            {
                font-size: 2rem;
                color: $primary-color;
                position: absolute;
                top: 5px;
                right: 15px;
                transform: rotate(45deg);
                &:hover
                {
                    cursor: pointer;
                }
            }
        }
    }
}